// Colors
@very-light-gray: #c5c8c6;
@light-gray: #898B89;
@gray: #373b41;
@dark-gray: #282a2e;
@very-dark-gray: #1d1f21;
@blue: #66A7E7;
@green: #7aa11a;
@orange: #D19A66;
@red: #d86464;
@yellow: #C1B660;
@text: #b7b7b7;
@purple: #a359a8;
@teal: #649891;
@light-orange: #f0c674;
@violet: #a481df;

// JavaScript
@js-this: @text;
@js-keyword: @red;
@js-string: @yellow;
@js-number: @yellow;
@js-function-arrow: @blue;
@js-function-definition-brace: @orange;
@js-function-definition-curly: @blue;
@js-function-definition-name: @green;
@js-function-definition: @blue;
@js-function-name-object-key: @teal;
@js-function-invocation: @green;
@js-function-invocation-brace: @purple;
@js-function-argument: @orange;
@js-parameter: @text;
@js-operator: @text;
@js-logical-operator: @red;
@js-operator-comparison: @red;
@js-null: @red;
@js-boolean: @red;
@js-undefined: @red;
@js-arguments: @text;
@js-curly-brace: @text;
@js-round-brace: @text;
@js-square-brace: @text;
@js-variable: @text;
@js-quasi: @text;
@js-quasi-edge: @purple;
@js-object-brace: @teal;
@js-object-key: @teal;
@js-object: @text;
@js-object-method: @text;
@js-object-property: @teal;
@js-shorthand-object-property: @teal;
@js-parameters-braces: @blue;
@js-comma: @purple;
@js-dot: @purple;
@js-type: @purple;
@js-decorator: @green;
@variable: @text;
@js-comment: @light-gray;
@js-semicolon: @purple;
@js-assignment: @purple;
@js-definition: @blue;
@js-special: @red;

// Flow
@flow-type: @purple;
@flow-semicolon: @text;
@flow-keyword: @red;

// React JSX
@jsx-tag-bracket: @violet;
@jsx-tag-name: @violet;
@jsx-attribute-name: @blue;
@jsx-embedded-section: @purple;

// CSS
@css-selector: @blue;
@css-property: @green;
@css-tag-name: @blue;
@css-unit: @text;
@css-value: @yellow;

// SCSS
@scss-keyword: @red;
@scss-variable: @red;

// JSON
@json-key: @orange;
@json-value: @green;

// Makefile
@makefile-target: @red;
@makefile-variable: @blue;
@makefile-recipe: @green;


// HTML
@html-tag: @red;
@html-attribute-name: @green;
@html-attribute-value: @yellow;
@html-text: @text;
