// Colors
@text: #a7a7a7; // #b7b7b7
@very-light-gray: #c5c8c6;
@light-gray: #898B89;
@gray: #898B89;
@dark-gray: #282a2e;
@very-dark-gray: #1d1f21;
@blue: #5aa0e5; // #66A7E7
@darkBlue: #6089b4;
@teal: #649891;
@violet: #a481df;
@green: #7aa11a;
@red: #d86464;
@light-orange: #f0c674;
@orange: #D19A66;
@dark-orange: #ce6700;
@yellow: #C1B660;
@dark-yellow: #ba9d2e; // #d0b344
@brown: #894f21;
@purple: #a359a8;
@dark-purple: #9872a2;
@editor-background-color: #1d1f21;

// JavaScript
@js-set-variable: @text; // text
@js-set-property: @teal; // teal
@js-set-const-let-var-function-class: @blue; // blue
@js-set-string-and-number: @dark-yellow; // yellow
@js-set-keyword: @red; // red
@js-set-operator: @purple; // purple
@js-set-function-invocation: @green; // green
@js-set-function-argument: @orange; // orange
@js-set-function-definition: @text; // green
@js-set-assignment: @red; // red
@js-set-object: @teal; // teal
@js-set-punctuation: @purple; // purple
@js-set-comment: @gray; // gray

// let variable = string | number;
// variable.property = variable | string | number;
// variable.function(variable string | number)
// variable.property.function(variable | string | number)
// keyword variable | string | number

@js-keyword: @js-set-keyword;
@js-this: @js-set-variable;
@js-string: @js-set-string-and-number;
@js-number: @js-set-string-and-number;
@js-function-arrow: @js-set-function-argument;
@js-function-definition-brace: @js-set-function-argument;
@js-function-definition-curly: @js-set-const-let-var-function-class;
@js-function-definition-name: @js-set-function-definition;
@js-function-definition: @js-set-const-let-var-function-class;
@js-function-name-object-key: @js-set-property;
@js-function-invocation: @js-set-function-invocation;
@js-function-invocation-brace: @js-set-punctuation;
@js-function-argument: @js-set-function-argument;
@js-parameter: @js-set-variable;
@js-operator: @js-set-operator;
@js-logical-operator: @js-set-operator;
@js-operator-comparison: @js-set-operator;
@js-null: @js-set-keyword;
@js-boolean: @js-set-keyword;
@js-undefined: @js-set-keyword;
@js-arguments: @js-set-variable;
@js-curly-bracket: @js-set-punctuation;
@js-round-brace: @js-set-punctuation;
@js-square-brace: @js-set-object;
@js-variable: @js-set-variable;
@js-quasi: @js-set-variable;
@js-quasi-edge: @js-set-punctuation;
@js-object-brace: @js-set-object;
@js-object-key: @js-set-property;
@js-object: @js-set-variable;
@js-object-method: @js-set-variable;
@js-object-property: @js-set-property;
@js-shorthand-object-property: @js-set-property;
@js-parameters-braces: @js-set-const-let-var-function-class;
@js-comma: @js-set-punctuation;
@js-dot: @js-set-operator;
@js-decorator: @js-function-definition;
@variable: @js-set-variable;
@js-comment: @js-set-comment;
@js-semicolon: @js-set-punctuation;
@js-assignment: @js-set-assignment;
@js-definition: @js-set-const-let-var-function-class;
@js-special: @js-set-keyword;

// Flow
@js-type: @purple;
@flow-type: @purple;
@flow-semicolon: @text;
@flow-keyword: @red;

// React JSX
@jsx-tag-bracket: @blue;
@jsx-tag-name: @blue;
@jsx-attribute-name: @violet;
@jsx-embedded-section: @text;

// CSS
@css-selector: @blue;
@css-property: @green;
@css-tag-name: @blue;
@css-unit: @text;
@css-value: @yellow;

// SCSS
@scss-keyword: @red;
@scss-variable: @red;

// JSON
@json-key: @orange;
@json-value: @green;

// Makefile
@makefile-target: @red;
@makefile-variable: @blue;
@makefile-recipe: @green;


// HTML
@html-tag: @red;
@html-attribute-name: @green;
@html-attribute-value: @yellow;
@html-text: @text;

// TypeScript

@ts-variable: @text;
@ts-comment: @gray;
@ts-keyword: @red;
@ts-const-let-var-function-class: @red;
@ts-operator: @purple;
@ts-punctuation: @purple;
@ts-assignment: @red;
@ts-object: @teal;
@ts-property: @teal;
@ts-string-and-number: @dark-yellow;
@ts-function: @green;
@ts-function-argument: @orange;
@ts-type: @text;
@ts-tag: @blue;
@ts-attribute: @violet;
@ts-value: @dark-yellow;



// MarkDown
@md-italic: @blue;
@md-raw: @yellow;
