p {
    border: 1px solid red;
}

.class-one {
    color: #111111;
}

#id-one {
    font-size : 12px;
    font-style: italic;
}

.class-one .class-two:nth-of-type(2) {
    border: 1px solid red;
}

@media screen and (max-width: 600px) and (min-width: 320px) {
    ul li a {
        margin-right: 20px;
    }
}
